<template>
    <div>
        <table-component :fields="fields" :items="items">
            <template #multi-selects>
                <b-col sm="3">
                    <multiselect v-model="lastNames" :options="tableVariants" :multiple="true"
                                 :close-on-select="true"
                    ></multiselect>
                </b-col>
                <b-col sm="3">
                    <multiselect v-model="firstNames" :options="tableVariants" :multiple="true"
                                 :close-on-select="true"
                    ></multiselect>
                </b-col>
            </template>
        </table-component>
    </div>
</template>


<script>
    import TableComponent from "@/components/TableComponent";
    import Multiselect from 'vue-multiselect'

    export default {
        name: "Vehicles",
        components: {
            Multiselect,
            TableComponent
        },
        data() {
            return {
                lastNames: [],
                firstNames: [],
                tableVariants: [
                    'primary',
                    'secondary',
                    'info',
                    'danger',
                    'warning',
                    'success',
                    'light',
                    'dark'
                ],
                fields: [
                    {
                        key: 'checkbox',
                        label: 'Delete'
                    },
                    {
                        key: 'last_name',
                        sortable: true
                    },
                    {
                        key: 'first_name',
                        sortable: false
                    },
                    {
                        key: 'age',
                        label: 'Person age',
                        sortable: true,
                        // Variant applies to the whole column, including the header and footer
                    },
                    {
                        key: 'button',
                        label: 'Edit'
                    }
                ],
                items: [
                    {isActive: true, age: 40, first_name: 'Dickerson', last_name: 'Macdonald'},
                    {isActive: false, age: 21, first_name: 'Larsen', last_name: 'Shaw'},
                    {isActive: false, age: 89, first_name: 'Geneva', last_name: 'Wilson'},
                    {isActive: true, age: 38, first_name: 'Jami', last_name: 'Carney'}
                ]
            }
        }
    }
</script>

<style scoped>

</style>