<template>
    <div>
        <div id="nav">
            <Navbar/>
        </div>
        <div class="container-fluid">
            <div class="row">
                <sidebar/>
                <router-view class="col-sm p-3 min-vh-100"/>
            </div>
        </div>
    </div>
</template>

<script>
    import Navbar from "@/components/Navbar";
    import Sidebar from "@/components/Sidebar"

    export default {
        name: "index",
        components: {
            Navbar,
            Sidebar
        }
    }
</script>

<style scoped>

</style>