<template>
    <div class="fixed-top d-flex align-items-center justify-content-center"
         style="bottom: 0; overflow-y: auto">
        <b-card style="max-width: 600px;">
            <b-form-group
                    id="fieldset-1"
                    label="Login"
                    label-for="input-1"
            >
                <b-form-input id="input-1" v-model="login"></b-form-input>
            </b-form-group>
            <b-form-group
                    id="fieldset-1"
                    label="Password"
                    label-for="input-1"
            >
                <b-form-input type="password" id="input-1" v-model="password"></b-form-input>
            </b-form-group>
            <b-button style="margin-top: 15px" @click="authenticate">Login</b-button>
        </b-card>
    </div>
</template>

<script>
    import gql from 'graphql-tag'
    import Cookies from 'js-cookie'
    export default {
        data() {
            return {
                login: '',
                password: ''
            }
        },
        methods: {
            authenticate() {
                this.$apollo.mutate({
                    mutation: gql`mutation user{
                      userAuth {
                        tokenAuth(password: "${this.password}", username: "${this.login}") {
                          refreshExpiresIn
                          refreshToken
                          token
                          payload {
                            exp
                            origIat
                            username
                          }
                        }
                      }
                    }`
                }).then(response => {
                    Cookies.set('apollo-token', response.data.userAuth.tokenAuth.token)
                    Cookies.set('user', response.data.userAuth.tokenAuth.payload.username)
                    this.$router.push({ name: 'Vehicles'})
                })
            },
            getUserData() {
                this.$apollo.query({
                    query: gql`query getUser {
                      user {
                        me {
                          dateJoined
                          email
                          firstName
                          id
                          isActive
                          isStaff
                          isSuperuser
                          lastLogin
                          lastName
                          username
                        }
                      }
                    }`
                }).then(response => {
                   localStorage.setItem('user', JSON.stringify(response.data.user.me))
                })
            }
        }
    }
</script>