<template>
    <div>
        <b-card>
            <b-table striped hover :items="items" :fields="fields" responsive="sm">
                <template #cell(button)="data">
                    <b-button size="sm" variant="light"><img src="https://img.icons8.com/dotty/25/000000/edit.png"/>
                    </b-button>
                </template>
            </b-table>
        </b-card>
    </div>
</template>


<script>
    export default {
        name: 'HomePage',
        data() {
            return {
                // Note `isActive` is left out and will not appear in the rendered table
                fields: [
                    {
                        key: 'last_name',
                        sortable: true
                    },
                    {
                        key: 'first_name',
                        sortable: false
                    },
                    {
                        key: 'age',
                        label: 'Person age',
                        sortable: true,
                        // Variant applies to the whole column, including the header and footer
                    },
                    {
                        key: 'button',
                        label: 'Edit'
                    }
                ],
                items: [
                    {isActive: true, age: 40, first_name: 'Dickerson', last_name: 'Macdonald'},
                    {isActive: false, age: 21, first_name: 'Larsen', last_name: 'Shaw'},
                    {isActive: false, age: 89, first_name: 'Geneva', last_name: 'Wilson'},
                    {isActive: true, age: 38, first_name: 'Jami', last_name: 'Carney'}
                ]
            }
        }
    }
</script>

<style scoped>

</style>