<template>
    <div>
        <b-navbar class="nav-bar" toggleable="lg" type="dark" variant="light">
            <b-icon icon="three-dots" font-scale="2" v-b-toggle.sidebar-no-header class="open-menu"></b-icon>
            <i class="profile-name" style="float: left">{{username}}</i>
            <i class="profile-pic"><img src="https://img.icons8.com/dotty/35/000000/profile-face.png"/></i>
        </b-navbar>
    </div>
</template>

<script>
    import Cookies from 'js-cookie'

    export default {
        name: "Navbar",
        data() {
            return {
                username: Cookies.get('user')
            }
        }
    }
</script>

<style scoped>
    .nav-bar {
        justify-content: right;
    }

    .profile-pic {
        position: relative;
        right: 23px;
    }

    .profile-name {
        position: relative;
        right: 40px;
    }

    .open-menu {
        position: relative;
        right: 55px;
    }
</style>