<template>
    <div class="col-sm-auto sticky-top bg-light">
        <b-sidebar id="sidebar-no-header" aria-labelledby="sidebar-no-header-title" no-header backdrop shadow backdrop-variant="dark">
            <template #default="{ hide }">
                <div class="p-3">
                    <nav class="mb-3">
                        <b-nav vertical>
                            <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center justify-content-between w-100 px-3 align-items-center"
                                style="padding-top: 3rem;">
                                <li v-if="$store.getters.getUserPermissions.counterAgentRead">
                                    <router-link :to="{ name: 'Counteragents'}" class="nav-link py-3 px-2" style="text-decoration:none; color:inherit;">
                                        Countragents
                                    </router-link>
                                </li>
                                <li v-if="$store.getters.getUserPermissions.vehicleRead">
                                    <router-link :to="{ name: 'Vehicles' }" class="nav-link py-3 px-2" style="text-decoration:none; color:inherit;">
                                        Vehicles
                                    </router-link>
                                </li>
                                <li v-if="$store.getters.getUserPermissions.materialRead">
                                    <a href="#" class="nav-link py-3 px-2" style="text-decoration:none; color:inherit;">
                                        Materials
                                    </a>
                                </li>
                                <li v-if="$store.getters.getUserPermissions.vehicleDamageEstimateRead">
                                    <a href="#" class="nav-link py-3 px-2" style="text-decoration:none; color:inherit;">
                                        Estimates
                                    </a>
                                </li>
                                <li v-if="$store.getters.getUserPermissions.sparePartRead">
                                    <a href="#" class="nav-link py-3 px-2" style="text-decoration:none; color:inherit;">
                                        Spare parts
                                    </a>
                                </li>
                                <li v-if="$store.getters.getUserPermissions.workRead">
                                    <a href="#" class="nav-link py-3 px-2" style="text-decoration:none; color:inherit;">
                                        Works
                                    </a>
                                </li>
                            </ul>
                        </b-nav>
                    </nav>
                </div>
            </template>
        </b-sidebar>
    </div>
</template>

<script>
    import gql from 'graphql-tag'

    export default {
        data() {
            return {}
        },
        methods: {
            getPermissions() {
                this.$apollo.query({
                    query: gql`query getPermissions {
                      carDamageEstimates {
                        permissions {
                          counterAgentCreate
                          counterAgentDelete
                          counterAgentRead
                          counterAgentUpdate
                          employeeCreate
                          workUpdate
                          workRead
                          workDelete
                          workCreate
                          vehicleUpdate
                          vehicleRead
                          vehicleDelete
                          vehicleDamageEstimateUpdate
                          vehicleDamageEstimateRead
                          vehicleDamageEstimateDelete
                          vehicleDamageEstimateCreate
                          vehicleCreate
                          sparePartUpdate
                          sparePartRead
                          sparePartDelete
                          sparePartCreate
                          materialUpdate
                          materialRead
                          materialDelete
                          materialCreate
                          employeeUpdate
                          employeeRead
                          employeeDelete
                        }
                      }
                    }
                    `
                }).then((response) => {
                    this.$store.dispatch('setUserPermissions', response.data.carDamageEstimates.permissions)
                })
            }
        },
        mounted() {
            this.getPermissions()
        }
    }
</script>

<style scoped>
    .sticky-top {
        padding-left: 0;
    }
</style>