<template>
    <div>
        <b-card>
            <b-row>
                <b-col sm="8" lg="10" align-h="center">
                    <slot name="search-input">
                        <b-form-input placeholder="Search" class="search-input" v-model="searchTerm">
                        </b-form-input>
                    </slot>
                </b-col>
                <slot name="button-group">
                    <b-col sm="1" lg="1">
                        <b-button variant="light" class="add-button"><img
                                src="https://img.icons8.com/glyph-neue/25/000000/create-new.png"/></b-button>
                    </b-col>
                    <b-col sm="1" lg="1">
                        <b-button variant="light" class="delete-button">
                            <img src="https://img.icons8.com/glyph-neue/25/000000/delete-file.png"/>
                        </b-button>
                    </b-col>
                </slot>
            </b-row>
            <b-row>
                <slot name="multi-selects">
                    <b-col sm="3">
                        <multiselect v-model="itemsToFilterBy" :options="items.map(item => item.name)" :multiple="true"
                                     :close-on-select="true"
                        ></multiselect>
                    </b-col>
                </slot>
            </b-row>
            <b-table striped hover :items="items" :fields="fields" responsive="sm" :per-page="perPage"
                     :current-page="currentPage">
                <template #cell(checkbox)="data">
                    <b-form-checkbox id="checkbox-group-1" :value="data.item.id" v-model="itemsToDelete">
                        <slot name="item-to-delete" :itemsToDelete="itemsToDelete"></slot>
                    </b-form-checkbox>
                </template>
                <template #cell(button)="data">
                    <slot name="button" :id="data.item.id">
                        <b-button size="sm" variant="light">
                            <img src="https://img.icons8.com/dotty/25/000000/edit.png"/>
                        </b-button>
                    </slot>
                </template>
            </b-table>
        </b-card>
    </div>
</template>


<script>
    import Multiselect from 'vue-multiselect'

    export default {
        name: "Counteragents",
        components: {Multiselect},
        props: ['rows', 'perPage', 'items', 'fields', 'selected', 'currentPage'],
        data() {
            return {
                searchTerm: '',
                itemsToDelete: [],
                itemsToFilterBy: []
            }
        },
        watch: {
            itemsToDelete(value) {
                this.$store.dispatch("setItemsToDelete", value)
                return this.$store.getters.getItemsToDelete
            },
            itemsToFilterBy(value) {
                this.$store.dispatch('setItemsToFilterBy', value)
                return this.$store.getters.getItemsToFilterBy
            }
        }
    }
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style>
    .search-input {
        margin-bottom: 10px;
    }

    .multiselect__tag {
        color: black;
        background-color: lightgray;
    }

    .multiselect__tag-icon:after {
        color: black;
    }
</style>