<template>
    <div>
        <b-form @submit.prevent="updateCounteragent">
            <b-card bg-variant="light">
                <b-row>
                    <b-col sm="6">
                        <b-form-group label="Address:"
                                      label-for="nested-address"
                                      label-cols-sm="3"
                                      label-align-sm="right">
                            <b-form-input id="nested-address" v-model="address"></b-form-input>
                        </b-form-group>
                        <b-form-group
                                label="Name:"
                                label-for="nested-name"
                                label-cols-sm="3"
                                label-align-sm="right"
                        >
                            <b-form-input id="nested-name" v-model="name"></b-form-input>
                        </b-form-group>
                        <b-form-group
                                label="Payment account:"
                                label-for="nested-payment-account"
                                label-cols-sm="3"
                                label-align-sm="right"
                        >
                            <b-form-input id="nested-payment-account" v-model="paymentAccount"></b-form-input>
                        </b-form-group>

                        <b-form-group
                                label="Type:"
                                label-for="nested-type"
                                label-cols-sm="3"
                                label-align-sm="right"
                        >
                            <b-form-input id="nested-type" v-model="type"></b-form-input>
                        </b-form-group>
                    </b-col>
                    <b-col sm="6">
                        <b-form-group label="Phone number"
                                      label-for="nested-phone-number"
                                      label-cols-sm="3"
                                      label-align-sm="right">
                            <b-form-input id="nested-phone-number" v-model="phoneNumber"></b-form-input>
                        </b-form-group>
                    </b-col>
                    <b-col v-if="$store.getters.getUserPermissions.counterAgentUpdate">
                        <b-button type="submit" variant="secondary" style="float: right">Submit</b-button>
                    </b-col>
                </b-row>
            </b-card>
        </b-form>
    </div>
</template>

<script>
    import gql from 'graphql-tag'

    export default {
        name: "CounteragentEdit",
        data() {
            return {
                phoneNumber: '',
                type: '',
                name: '',
                address: '',
                paymentAccount: ''
            }
        },
        methods: {
            retrieveCounteragent() {
                this.$apollo.query({
                    fetchPolicy: "no-cache",
                    query: gql`query retrieveCounteragent {
                        carDamageEstimates {
                        counterAgent(counterAgentId: [${this.$route.params.id}]) {
                          address
                          name
                          paymentAccount
                          phoneNumber
                          type
                        }
                      }
                    }`
                }).then(response => {
                    response.data.carDamageEstimates.counterAgent.forEach(item => {
                        this.address = item.address
                        this.type = item.type
                        this.name = item.name
                        this.phoneNumber = item.phoneNumber
                        this.paymentAccount = item.paymentAccount
                    })
                })
            },
            updateCounteragent() {
                this.$apollo.mutate({
                    mutation: gql`mutation updateCounteragent {
                      carDamageEstimates {
                        updateCounterAgent(id: "${this.$route.params.id}", input: {address: "${this.address}", name: "${this.name}", paymentAccount: "${this.paymentAccount}", type: "${this.type}", phoneNumber: "${this.phoneNumber}"}) {
                          address
                          id
                          name
                          paymentAccount
                          type
                          phoneNumber
                        }
                      }
                    }`
                }).then(response => {
                    let item = response.data.carDamageEstimates.updateCounterAgent
                    this.address = item.address
                    this.type = item.type
                    this.name = item.name
                    this.phoneNumber = item.phoneNumber
                    this.paymentAccount = item.paymentAccount
                    this.$router.push({'name': 'Counteragents'})
                })
            }

        },
        mounted() {
            this.retrieveCounteragent()
        }
    }
</script>

<style scoped>

</style>