<template>
    <div>
        <b-form @submit.prevent="createCounteragent">
            <b-card bg-variant="light">
                <b-row>
                    <b-col sm="6">
                        <b-form-group label="Address:"
                                      label-for="nested-address"
                                      label-cols-sm="3"
                                      label-align-sm="right">
                            <b-form-input id="nested-address" v-model="address"></b-form-input>
                        </b-form-group>
                        <b-form-group
                                label="Name:"
                                label-for="nested-name"
                                label-cols-sm="3"
                                label-align-sm="right"
                        >
                            <b-form-input id="nested-name" v-model="name"></b-form-input>
                        </b-form-group>
                        <b-form-group
                                label="Payment account:"
                                label-for="nested-payment-account"
                                label-cols-sm="3"
                                label-align-sm="right"
                        >
                            <b-form-input id="nested-payment-account" v-model="paymentAccount"></b-form-input>
                        </b-form-group>

                        <b-form-group
                                label="Type:"
                                label-for="nested-type"
                                label-cols-sm="3"
                                label-align-sm="right"
                        >
                            <b-form-input id="nested-type" v-model="type"></b-form-input>
                        </b-form-group>
                    </b-col>
                    <b-col sm="6">
                        <b-form-group label="Phone number"
                                      label-for="nested-phone-number"
                                      label-cols-sm="3"
                                      label-align-sm="right">
                            <b-form-input id="nested-phone-number" v-model="phoneNumber"></b-form-input>
                        </b-form-group>
                    </b-col>
                    <b-col>
                        <b-button type="submit" variant="primary" style="float: right">Submit</b-button>
                    </b-col>
                </b-row>
            </b-card>
        </b-form>
    </div>
</template>

<script>
    import gql from 'graphql-tag'

    export default {
        name: "CounteragentCreate",
        data() {
            return {
                phoneNumber: '',
                type: '',
                name: '',
                address: '',
                paymentAccount: ''
            }
        },
        methods: {
            createCounteragent() {
                this.$apollo.mutate({
                    mutation: gql`mutation createCounteragent {
                      carDamageEstimates {
                        createCounterAgent(input: {address: "${this.address}", name: "${this.name}", paymentAccount: "${this.paymentAccount}", phoneNumber: "${this.phoneNumber}", type: "${this.type}"}) {
                          address
                          name
                          paymentAccount
                          phoneNumber
                          type
                        }
                      }
                    }`
                }).then(response => {
                    console.log(response)
                    this.$router.push({'name': 'Counteragents'})
                })
            }
        }
    }
</script>

<style scoped>

</style>