<template>
    <div v-if="errorMessage">
        <span>{{errorMessage}}</span>
    </div>
    <div v-else>
        <table-component :fields="fields" :items="items" :per-page="perPage" :current-page="currentPage">
            <template #search-input>
                <b-form-input placeholder="Search" class="search-input" v-model="searchTerm"
                              @input="searchCounteragent(searchTerm)"></b-form-input>
            </template>
            <template #button-group style="justify-content: center">
                <b-col sm="1" lg="1" v-if="$store.getters.getUserPermissions.counterAgentCreate">
                    <b-button variant="secondary" class="add-button" @click="$router.push({'name': 'CounteragentCreate'})">
                        Add new
                    </b-button>
                </b-col>
                <b-col sm="1" lg="1" v-if="$store.getters.getUserPermissions.counterAgentDelete">
                    <b-button variant="secondary" class="delete-button" @click="deleteCounteragents()">
                        Delete
                    </b-button>
                </b-col>
            </template>
            <template #multi-selects>
                <b-col sm="3">
                </b-col>
            </template>
            <template #button="id">
                <b-button size="sm" variant="light"
                          @click="$router.push({name: 'CounteragentEdit', params: {id: id.id}})">
                    <img src="https://img.icons8.com/dotty/25/000000/edit.png"/>
                </b-button>
            </template>
        </table-component>
        <div class="mt-3">
            <b-pagination
                    v-model="currentPage"
                    :total-rows="rows"
                    :per-page="perPage"
                    first-number
                    last-number
                    align="right"
            ></b-pagination>
        </div>
    </div>
</template>


<script>
    import gql from 'graphql-tag'
    import TableComponent from "@/components/TableComponent";

    export default {
        name: "Vehicles",
        components: {
            TableComponent,
        },
        data() {
            return {
                searchTerm: "",
                selected: [],
                items: [],
                itemsToFilter: [],
                options: [],
                errorMessage: "",
                currentPage: 1,
                perPage: 15,
                fields: [
                    {
                        key: 'checkbox',
                        label: 'Delete'
                    },
                    {
                        key: 'id',
                        label: 'ID',
                        sortable: true
                    },
                    {
                        key: 'address',
                        label: 'Address',
                        sortable: true
                    },
                    {
                        key: 'name',
                        label: 'Name',
                        sortable: false
                    },
                    {
                        key: 'paymentAccount',
                        label: 'Payment Account',
                        sortable: true,
                    },
                    {
                        key: 'type',
                        label: 'Type',
                        sortable: true,
                    },
                    {
                        key: 'button',
                        label: 'Edit'
                    }
                ],
            }
        },
        methods: {
            async getAllCounteragents() {
                await this.$apollo.query({
                    fetchPolicy: "no-cache",
                    query: gql`query counteragents {
                      carDamageEstimates {
                        counterAgents {
                          address
                          id
                          name
                          paymentAccount
                          phoneNumber
                          type
                        }
                      }
                    }`
                }).then(response => {
                    this.items = response.data.carDamageEstimates.counterAgents.map(item => item)
                    this.rows = this.items.length
                    this.options = this.items.map(value => value.name)
                }).catch(err => {
                    this.errorMessage = err
                })
            },
            searchCounteragent(searchTerm) {
                this.$apollo.mutate({
                    mutation: gql`mutation SearchCounteragent {
                      carDamageEstimateFilters {
                        searchCounteragents(input: {searchTerm: "${searchTerm}"}) {
                          address
                          id
                          name
                          paymentAccount
                          phoneNumber
                          type
                        }
                      }
                    }`
                }).then(response => {
                    console.log(response.data)
                    this.items = []
                    response.data.carDamageEstimateFilters.searchCounteragents.forEach(item => {
                        this.items.push(item)
                    })
                })
            },
            searchCounteragentByName() {
                this.$apollo.mutate({
                    mutation: gql`mutation filterCounteragent {
                  carDamageEstimateFilters {
                    searchCounteragentByName(input: {searchList: ${JSON.stringify(this.itemsToFilter)}}) {
                      address
                      id
                      name
                      paymentAccount
                      phoneNumber
                      type
                    }
                  }
                }`
                }).then(response => {
                    console.log(response.data)
                    this.items = response.data.carDamageEstimateFilters.searchCounteragentByName.map(item => item)
                })
            },
            deleteCounteragents() {
                this.$apollo.mutate({
                    mutation: gql`mutation DeleteCounteragent {
                      carDamageEstimates {
                        deleteCounterAgent(id: [${this.$store.getters.getItemsToDelete}])
                      }
                    }`
                }).then(response => {
                        this.$router.go(0)
                        console.log(response)
                    }
                )
            }
        },
        computed: {
            rows() {
                return this.items.length
            }
        },
        mounted() {
            this.getAllCounteragents()
        }
    }
</script>

<style scoped>

</style>