<template>
    <div id="app">
        <router-view/>
    </div>
</template>

<script>

</script>

<style>
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
    }

    #nav a {
        font-weight: bold;
        color: #2c3e50;
    }

    #nav a.router-link-exact-active {
        color: #42b983;
    }

    .page-item.active .page-link {
        z-index: 3;
        color: #fff;
        background-color: #495057 !important;
        border-color: #495057 !important;
        text-decoration: none !important;
    }

    .page-link {
        color: dimgrey !important;
    }
</style>
